body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e6f7e1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-top: 10%;
    text-align: center;
    color: #333;
}

h4 {
    text-align: center;
    color: #333;
    margin-bottom: 5%;
}

p {
    margin-top: 5%;
    text-align: center;
    font-size: 18px;
}

table {
    width: 70%;
    margin: 5% auto; 
    border-collapse: separate;
    border-spacing: 0;
    font-size: 18px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center; 
}

th {
    background-color: #b7ddb2;
    font-weight: bold;
    color: #333;
}

tr:hover {
    background-color: #cfe9c8;
    transition: background-color 0.3s ease;
}

.flag-img {
    width: 40px;
    height: auto;
    border-radius: 3px;
}

.nav {
    text-align: center;
    margin-bottom: 20px;
    position: relative; 
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #4CAF50;
    position: relative;
}

.nav a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #4CAF50; 
    width: 0;
    position: absolute;
    left: 50%; 
    bottom: -5px; 
    transition: width 0.3s ease, left 0.3s ease; 
}

.nav a:hover::after {
    width: 100%;
    left: 0; 
}

.form-container {
    width: 100%;
    max-width: 400px;
    margin: 5% auto;
    background-color: #a7f2a9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(9, 1, 1, 0.1);
}

input[type="text"] {
    width: calc(100% - 24px); 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

input[type="submit"] {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049; 
}
